<div class="row">
    <div class="col">
        <ul style="width: 100% ; display: flex; list-style: none;">            
            <li>
                <a href="/logout"><button class="btn btn-lg btn-light" type="button">Logout</button></a>
            </li>
        </ul>
    </div>
</div>